.text-heading {
  font-size: 1rem !important;
  font-weight: normal !important;
  margin-bottom: 5px !important;
}

.text-title {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.edit-btn,
.edit-btn:hover {
  border: none !important;
  color: #3b98d1 !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.next-payment {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #3b98d1 !important;
}

.configure-button,
.configure-button:active,
.configure-button:focus {
  width: max-content !important;
  color: white !important;
  background-color: #3b98d1 !important;
  border: none !important;
  font-weight: 600 !important;
  outline: none !important;
  box-shadow: none !important;
}
